html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
